/*-----------------------------------------------------------------------------------------------DESARROLLADO POR MICHAEL NAVARRETE */

*{
    list-style: none;
    text-decoration: none;
    margin: 0px;
    color:#570f0f;
    font-family: Arial, Helvetica, sans-serif;
}


.clearFix{
    float: none;
    clear: both;
}

body{
    display: grid;
    min-height: 100vh;
}

/*-----------------------------------------------------------------------------------------------MENU PRINCIPAL*/

#menu{
    min-height: 40px;
    background-color: #570f0f;
    width: 100%;
}
#menu #ul01{
    padding: 0px;
}
#menu #ul01 li {
    display: block;
    float: left;
    padding: 10px;
    font-size: large;
    border-right: 1px solid white;
}

#menu #ul01 li:hover{
    background-color: white;
}

#menu #ul01 li:hover a{
    color: black;
}

#menu #ul01 li a{
    color: white;
}

#menu #ul01 li #logo{
    width: 30px;
    height: 25px;
}

#menu ul #salir {
    text-decoration: none;
    display: block;
    float: right;
    padding: 10px;
    font-size: large;
    border-left: 1px solid white;
}

#menu ul #salir:hover{
    background-color: white;
}

#menu ul #salir:hover{
    color: black;
}

#menu ul #salir{
    color: white;
}

/*-----------------------------------------------------------------------------------------------SUB MENÚ*/

#menu #ul01 li ul{
    display: none;
    position:absolute;
    padding:0;
    background-color: white;
    top: 4%;
}

#menu #ul01 li ul li{
    float:none; 
    width: auto;
}

#menu #ul01 li ul li a{
    margin: 0;
    line-height:120%; 
    padding:10px 15px;
}

#menu #ul01 li ul li:hover{
    background-color: #ebbebe;
    
}

#menu #ul01 li ul li:hover a{
    margin: 0;
    line-height:120%; 
    padding:10px 15px;
}

#menu #ul01 li:hover ul{
    display: block;
}



/*-----------------------------------------------------------------------------------------------BANNER*/

#miniBanner{
    background-color: #d17d7d;
    min-height: 40px;
}

#miniBanner h2{
    padding-top: .3%;
    padding-left: 1%;
    font-family: Arial, Helvetica, sans-serif;
    color: #57350F;
}

/*-----------------------------------------------------------------------------------------------LINEA*/
#linea{
    height: 40px;
    background-color: #c44f4f;
}
/*-----------------------------------------------------------------------------------------------MAIN CONTAINER*/

/*-----------------------------------------------------------------------------------------------INFORMACION PERSONAL*/
#informacion{
    margin: auto;
    margin-top: 1%;
    width: 1600px;
    min-height: 700px;
    box-shadow: 1px 1px 10px #cecece;
    border-radius: 10px;
    padding: 1%;
}
#datos{
    text-align: center;
}

.datoCampoTitulo{
    margin-right: 3%;
    margin-top: 4%;
    line-height: 200%;
    background-color: #ebbebe ;
    border-radius: 10px;
}

.datoCampoContent{
    margin-right: 3%;
    margin-top: 2%;
    border-bottom: 1px dashed #7a0606 ;
}
/*-----------------------------------------------------------------------------------------------Pop Up*/
#popUpAgregar{
    text-align: center;
    width: 40%;
    margin: auto;
    min-height: 500px;
    margin-top: 2%;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 30px black;
}

#popUpAgregar::backdrop{
    background-color: rgba(0,0,0,.8);
}
/*-----------------------------------------------------------------------------------------------CONTRASEÑA*/
#contraseña{
    display: block;
    margin: .8%;
    margin-top: 1%;
    float: left;
    width: 50%;
    border: 1px solid #7a0606;
    height:  350px;
    box-shadow: 5px 5px #cecece;
    border-radius: 10px;
}

#formPass{
    padding-top: 1%;
    padding-left:3% ;
}
.campo{
    margin-top: 1.5%;
}
.campo input{
    margin-top: 1%;
    width: 94%;
}

#btn{
    text-align: center;
    width: 95%;
    margin-top: 1.5%;
    margin-right: 3%;
}
#btn input{
    background-color: #d17d7d;
    color: #570f0f;
    width: 100%;
    line-height: 200%;
    border-radius: 10px;
    border:1px solid #783030;
    

}

#btn:hover input {
    border:1px dashed #783030;
    background-color: #ebbebe;
    color: white;
    width: 100%;
    line-height: 200%;
    border-radius: 10px;
    color: black;
    cursor:pointer;
}

.mensaje{
    text-align: center;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    line-height: 250%;
    width: 60%;
    color:wheat;
    
}
#fail{
    background-color: #EB607E;
}
#success{
    color: black;
    background-color: #58dddd;
    border-radius: 10px;
}

/*-----------------------------------------------------------------------------------------------INFORMACION PERSONAL + CONTRASEÑA*/
.titulo{
    color: white;
    text-align: center;
    background-color: #570f0f;
    line-height: 200%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

/*-----------------------------------------------------------------------------------------------TABLA PROVEEDORES*/
#btnAgregar{
    text-align: center;
    display: block;
    background-color: #d17d7d;
    width: 45px;
    margin: auto;
    margin-top: 2%;
    border-radius: 25px;
}

#btnAgregar:hover{
    background-color: #754848;
    box-shadow: 2px 2px 30px #d17d7d;
}

#proveedores{
    border-radius: 10px;
    margin: auto;
    margin-top: 2%;
    box-shadow: 2px 2px 10px black;
    width: 80%;
    border: 1px solid black;
    text-align: center;
}

#cabecera{
    background-color: #d17d7d;
    
}
#cabecera td{
    padding: 1%;
    padding-left: 1%;
    padding-right: 1%;
    color: white;
}

#contenido td{
    padding-top: 2%;
    padding-bottom: 2%;
}

/*-----------------------------------------------------------------------------------------------FOOTER*/
footer{
    text-align: center;
    background-color: #523131;
}

.pie p{
    margin-top: 10px;
    color: #ebbebe;
    font-size: x-large;
}

.color{
    background-color: #fff2f2;
}


/*-----------------------------------------------------------------------------------------------Campos Editar Administrador*/
.campo{
    background-color: #fff1f1;
    margin: auto;
    width: 50%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-bottom: 2%;
    border-radius: 10px;
}

.campo label{
    margin-bottom: 1%;
    font-size: large;
}

#enviar{
    background-color: #ff6b6b;
    width: 200px;
    height: 50px;
    line-height: 40px;
    color: white;
    font-size: x-large;
    margin-bottom: 2%;
    border:none;
    border-radius: 10px;
}

#enviar:hover{
    cursor: pointer;
    background-color: #8a3b3b;
    box-shadow: 2px 2px 20px #ff6b6b;
}